body {
  background-color: white;
  padding: 50px;
  border: 30px solid blue;
}

h1 {
  color: white;
  text-align: center;
  padding: 20px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: hsl(207, 67%, 28%);
}
